{% extends 'base.html' %}
{% block body %}

    <div class="container my-3">
        <h3 class="mb-3">Contact Me</h3>
        <form method="post" action="/contact">
            {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp">
                 
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                    
                </div>
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Phone</label>
                <input type="phone" class="form-control" id="phone" name="phone">
            </div>
            <div class="mb-3">
                <label for="text" class="form-label">How may we help you?</label>
                <textarea type="text" class="form-control" id="text" name="desc"></textarea>
            </div>
        
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

{% endblock body %}